<!DOCTYPE html>
<html>
<head>
  @using PierresWholesale.Models;
  @{
  Layout = "_Layout";
  }
</head>
<body>
  <div class="container">
    <div class="intro">
      <h3>Ajouter un Vendeur</h3>
      <p>More bread, more cheese 🧀.🥖</p>
    </div>
    <div class="menu">
      <form action="/vendors" method="post">
        <label for="vendorName">Vendor's Name</label>
        <input id="vendorName" name="vendorName" type="text"><br /><br />
        <label for="vendorDetails">Details</label>
        <input id="vendorDetails" name="vendorDetails" type="text"><br /><br />
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
</body>
</html>