<!DOCTYPE html>
<html>
<head>
  @using PierresWholesale.Models;
  @{
  Layout = "_Layout";
  }
</head>
<body>
  <div class="container">
    <div class="intro">
      <h3>Vos Vendeurs</h3>
      <p>They're not great, but they're yours</p>
    </div>
    <div class="menu">
      <h4>Orders</h4>
      <ul id="newOrder">
        @foreach (Order order in @Model["orders"])
        {
          <li>
            <a href="/vendors/@Model["vendor"].Id/orders/@order.Id">@order.OrderName</a>
          </li>
        }
      </ul>

      <p><a href='/vendors/@Model["vendor"].Id/orders/new'><button>Add an Order</button></a></p>
      <p><a href='/vendors'><button>Return to Vendor List</button></a></p>
    </div>
  </div>
</body>
</html>