<!DOCTYPE html>
<html>
<head>
  @using PierresWholesale.Models;
  @{
  Layout = "_Layout";
  }
  <style>
    body {
      background: url("/../../img/leiliane-fagundes-0sTX2h8FpXk-unsplash.jpeg")no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="intro">
      <h3>Bienvenue, Pierre!</h3>
      <p>Nous espérons que vous passez une bonne journée.</p>
    </div>
    <div class="menu">
      <h4>Qu'est-ce que vous voulez faire?</h4>
      <a href="/vendors"><button>View Vendors</button></a>
      <a href="https://unsplash.com/s/photos/baked-goods" target="_blank"><button>View Inventory</button></a>
    </div>
  </div>
</body>
</html>